{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Sample Page</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <i class="feather icon-alert-triangle"></i>
                                        <h5>Caution</h5>
                                    </div>
                                    <div class="card-block">
                                        <p> Enter details carefully order might be punched directly As soon as you save
                                            it
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">

                                <h5> Stock Adding Form</h5>
                            </div>
                            <div class="card-body">
                                <h5>Add Stock</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Order Type</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>BUY</option>
                                                    <option>SELL</option>

                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1"> Stock Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="Stock Name">
                                                <small id="emailHelp" class="form-text text-muted">Name should be in
                                                    captial letters </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Quantity select</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" 
                                                aria-describedby="emailHelp" placeholder="Quantity">
                                                
                                            </div>

                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Stock Symbol</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="Stock Name">
                                                <small id="emailHelp" class="form-text text-muted">Symbol should be in
                                                    captial letters </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Stock Security Id</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" disabled
                                                    aria-describedby="emailHelp" placeholder="Stock Name">
                                                <small id="emailHelp" class="form-text text-muted">Please dont change
                                                    this </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Product Type</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>INTRA</option>
                                                    <!-- <option>SELL</option> -->
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Order Type</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>MARKET</option>
                                                    <!-- <option>SELL</option> -->
                                                </select>
                                            </div>
                                            <!-- <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Stock Exchange</label>
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>NSE_EQ</option>
                                                        <option>NSE_FNO</option>
                                                        <option>NSE_CURRENCY</option>
                                                        <option>BSE_EQ</option>
                                                        <option>MCX_COMM</option>
                                                        <option>IDX_I</option>
                                                    </select>
                                                </div> -->
                                            <!-- <div class="form-group">
                                                <label for="exampleFormControlSelect1">Instrument Type</label>
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <option selected>EQUITY</option>
                                                    <option>FUTCOM</option>
                                                    <option>FUTCUR</option>
                                                    <option>FUTIDX</option>
                                                    <option>FUTSTK</option>
                                                    <option>FUTSTK</option>
                                                </select>
                                            </div> -->
                                            
                                            <div class="form-group">
                                                <label for="exampleFormControlTextarea1">Comment</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                    rows="3"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <hr>

                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}