{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    {% csrf_token %}
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">Positional Page</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Positional Page</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                {% if messages %}
<ul class="messages">
    {% for message in messages %}

    <li {% if message.tags == success %} class="{{ message.tags }}"{% endif %}>
     
        <button type="button" class="btn btn-success btn-lg btn-block"  data-toggle="tooltip">Stock added for Monitoring</button>

    </li>

   
    {% endfor %}
</ul>
{% endif %}
                                <!-- {% if messages %}
                   
                                {% for message in messages %}
                                {% if message.tags == success %} 
                                    <button type="button" class="btn btn-success btn-lg btn-block"  data-toggle="tooltip">Stock added for Monitoring</button>
                                {% elif message.tags == error %} 
                                    <button type="button" class="btn btn-danger btn-lg btn-block"  data-toggle="tooltip">Something went wrong Contact Jagrit</button>
                             
                                {% endif %}
                                {% endfor %}    
                  
                            {% endif %} -->
                                <div class="card">
                                    <div class="card-header">
                                        <i class="feather icon-alert-triangle"></i>
                                        <h5>Caution</h5>
                                    </div>
                                    <div class="card-block">
                                        <p> Enter details carefully order might be punched directly As soon as you save
                                            it
                                        </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                
                                        <h5>Last Stock added</h5>
                                    </div>
                                    <div class="card-block">
                                        <button type="button" class="btn btn-outline-primary" data-toggle="tooltip">Time: {{last_obj.time}}</button>
                                        <button type="button" class="btn btn-outline-success" data-toggle="tooltip">Stock Name: {{last_obj.stock_name}}</button> 
                                        <button type="button" class="btn btn-outline-info" data-toggle="tooltip">Stock symbol: {{last_obj.symbol}} </button> 
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip">order side: {% if last_obj.side == '1' %} BUY {% else %} SELL {% endif %}</button>
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip">Stock qty: {{last_obj.qty}} </button> 
                                        <button type="button" class="btn btn-outline-danger" data-toggle="tooltip">Limit Price: ₹ {{last_obj.limitPrice}} </button> 
                                        <button type="button" class="btn btn-outline-warning" data-toggle="tooltip">order type:   {% if last_obj.type == '1' %} Limit Order {% elif last_obj.type == '2' %} Market Order {% endif %} </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">

                                <h5> Stock Adding Form</h5>
                            </div>
                            <div class="card-body">
                                <h5>Add Stock</h5>
                                <hr>
                                <form method="post" action="/save_positional_stock">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Order Type</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="side">
                                                <option value ="1">BUY</option>
                                                <option value ="-1">SELL</option>

                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputPassword1"> Stock Name</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Stock Name" name="Stock_Name">
                                            <small id="emailHelp" class="form-text text-muted">Name should be in
                                                captial letters </small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Quantity select</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Quantity" name="qty">

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Stop Loss</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="0" name="stopLoss" >
                                            <small id="emailHelp" class="form-text text-muted">Default => 0 | Provide valid price for CO and BO orders</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Take Profit</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="0" name="takeProfit" >
                                            <small id="emailHelp" class="form-text text-muted">Default => 0 | Provide valid price for BO orders</small>
                                        </div>

                                        <button type="submit" class="btn theme-bg text-white f-12 ">Submit</button>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Stock Symbol</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" placeholder="Stock Name" name="symbol">
                                            <small id="emailHelp" class="form-text text-muted">Symbol should be in
                                                captial letters </small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Product Type</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="productType">
                                                <option value="CNC">CNC (carried forward)</option>
                                                <option value="INTRADAY">INTRADAY</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Validity</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="validity">
                                                <option value="DAY">DAY (Valid till the end of the day)</option>
                                                <option value="IOC">IOC (Immediate or Cancel)</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Order Type</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="Order_Type">
                                                <option value="1">LIMIT</option>
                                                <option value="2">MARKET</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Stock Exchange</label>
                                            <select class="form-control" id="exampleFormControlSelect1" name="exchange">
                                                <option value="nse_eq">NSE_EQ</option>                                   
                                                <option value="bse_eq">BSE_EQ</option>
                                            </select>
                                        </div>

                                            
                                            
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Limit Price</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="0" name="limitPrice" >
                                                <small id="emailHelp" class="form-text text-muted">Default => 0 | Provide valid price for Limit and Stoplimit orders</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Stop Price</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="0" name="stopPrice">
                                                <small id="emailHelp" class="form-text text-muted">Default => 0 | Provide valid price for Stop and Stoplimit orders</small>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">DisclosedQty</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" placeholder="0" name="disclosedQty">
                                                <small id="emailHelp" class="form-text text-muted">Default => 0 | Allowed only for Equity</small>
                                            </div>
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Comment</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" name="comments"
                                                rows="3"></textarea>
                                            </div>
                                    </div>
                                </div>
                            </form>

                                <hr>

                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}