{% extends "layouts/base.html" %}

{% block title %} UI Tabs {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="col-xl-12 col-md-12 m-b-30">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Futures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active show" id="profile-tab" data-toggle="tab"
                    href="#profile" role="tab" aria-controls="profile" aria-selected="false"> Positional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                    role="tab" aria-controls="contact" aria-selected="false">Option</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Stock symbol</th>
                            <th>Stock qty</th>
                            <th>Stock side</th>
                            <th>Trade type</th>
                            <th>Stock Price</th>
                            <th>Trade stopPrice</th>
                            <th>Executed or not </th>
                            <th>Comment</th>
                            <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                   

                    </tbody>
                </table>

            </div>
            <div class="tab-pane fade active show" id="profile" role="tabpanel"
                    aria-labelledby="profile-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Stock symbol</th>
                            <th>Stock qty</th>
                            <th>Stock side</th>
                            <th>Trade type</th>
                            <th>Stock Price</th>
                            <th>Trade stopPrice</th>
                            <th>Executed or not </th>
                            <th>Comment</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for data in all_posti_stocks_all %}
                            
                            <tr>
                                <td>
                                    <h6 class="m-0">  <div class="navbar-brand header-logo">
                                        <a href="/" class="b-brand">
                                            <div class="b-bg">
                                                <i class="feather icon-check-circle"></i>
                                            </div>
                                        </a>
                                    </div>{{data.stock_name}}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0">{{data.symbol}}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0">{{data.qty}}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0">  {% if data.side == '1' %} BUY {% else %} SELL {% endif %}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0">  {% if data.type == '1' %} Limit Order {% elif data.type == '2' %} Market Order {% endif %}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0">₹ {{data.limitPrice}}</h6>
                                </td>
                                <td>
                                    <h6 class="m-0"> {{data.stopPrice}}</h6>
                                </td>
                                <td>
                                    {% if data.trade_executed %}   <h6 class="m-0 text-c-green">   Done </h6> {% else %} <h6 class="m-0 text-c-red">  No </h6>  {% endif %}
                                </td>
                               
                                <td>
                                    <h6 class="m-0 text-c-green">{{data.comments}}</h6>
                                </td>

                            </tr>
                            {% endfor %}

                        </tbody>
                </table>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel"
                    aria-labelledby="contact-tab">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Stock symbol</th>
                            <th>Stock qty</th>
                            <th>Stock side</th>
                            <th>Trade type</th>
                            <th>Stock Price</th>
                            <th>Trade stopPrice</th>
                            <th>Executed or not </th>
                            <th>Comment</th>
                            <th class="text-right"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <h6 class="m-0">  <div class="navbar-brand header-logo">
                                    <a href="/" class="b-brand">
                                        <div class="b-bg">
                                            <i class="feather icon-check-square"></i>
                                        </div>
                                    </a>
                                </div>Relience</h6>
                            </td>
                            <td>
                                <h6 class="m-0">3 months option</h6>
                            </td>
                            <td>
                                <h6 class="m-0">3:28 PM</h6>
                            </td>
                            <td>
                                <h6 class="m-0 text-c-green">Done</h6>
                            </td>
                            <td class="text-right"><i class="fas fa-circle text-c-green f-10"></i>
                            </td>
                        </tr>

                        </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
